
<% f.hidden_field :from_id %>
<div class="form-group">
    <label><%= I18n.t 'activerecord.models.employee.one' %></label><sup class="red">*</sup>
    <%= f.select :to_id, options_for_select(Employee.where('id <> ?', f.object.from_id).map { |x| [x.full_name, x.id]}), { :prompt => I18n.t('select_employee') }, { :class => 'form-control' } %>
</div>
<div class="form-group">
    <%= f.label :message %> (<%= I18n.t 'optional' %>)
    <%= f.text_area :message, :maxlength => 255, :class => 'form-control' %>
</div>
<%= f.submit I18n.t('operations.submit'), :class => 'btn btn-primary' %>